#bookedRequests{
    width: 80%;
    height: 70vh;
    float: left;
    transform: translate(20%,20%);
}
#bookedRequests h3{
    text-align: left;
    margin-left: 25px;
}
#bookedRequests h4{
    text-align: left;
}
#request{
    float: left;
}
#confirmation{
    display:none;
    position:absolute;
    width:30%;
    height:30vh;
    transform:translate(85%,30%);
    border-radius:5px;
    background-color:rgb(223, 213, 213);
    left: 0px;
}
#confirmation h4{
    margin-top: 40px;
    margin-left: 20px;
}
#confirmation button{
    margin: 30px;
}